body{
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.container {
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
}

h2{
  font-weight: bold;
  color: #007bff;
}

input.form-control {
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}


button.btn-primary {
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
}


.card {
  background-color: #f0f9ff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.card-title{
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}


.card-text {
  font-size: 1.1rem;
  color: #555;
}

